@model BlogSystem.WebApp.Areas.Manager.Data.WebMenu.EditWebMenuViewModel
@{
    ViewBag.Title = "编辑网站菜单";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";

    SelectList first = ViewBag.First;
    SelectList second = ViewBag.Second;
    SelectList third = ViewBag.Third;

}

@section style
{
    <style>
        .chooseIco {
            list-style: none;
            margin: 5px 0px;
            font-size: 14px;
        }

            .chooseIco > li > span {
                display: inline-block;
                padding-left: 5px;
            }
    </style>
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">编辑网站菜单</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Edit", "WebMenuManager", FormMethod.Post))
                {
                    @Html.HiddenFor(r => r.Id)
                    <div class="form-group">
                        <label for="Title">菜单名称</label>
                        @Html.TextBoxFor(r => r.Title, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessage("Title")</span>
                    </div>
                    <div class="form-group">
                        <label for="Title">菜单连接</label>
                        @Html.TextBoxFor(r => r.Link, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessage("Link")</span>
                    </div>
                    <div class="form-group">
                        <label for="level">菜单等级</label>
                        @Html.DropDownList("level", first, new { @class = "form-control", id = "Level" })
                        @Html.DropDownList("level", second, new { @class = "form-control", style = "display: none;", id = "ParentMenu" })
                        @Html.DropDownList("level", third, new { @class = "form-control", style = "display: none;", id = "SonMenu" })

                    </div>
                    <div id="ChooseIcon" class="form-group">
                        <label for="Icon">菜单图标</label>
                        <div class="form-inline">
                            @Html.TextBoxFor(r => r.Icon, new { @class = "form-control", @readonly = "true" })
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#IconModal">点击选择图标</button>
                        </div>

                        <div class="modal fade" id="IconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">系统菜单图标</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="menuIcon" class="row">
                                            <ul class="chooseIco">
                                                <li class="col-md-3"><i class="lnr lnr-home"></i><span>lnr-home</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-apartment"></i><span>lnr-apartment</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-drop"></i><span>lnr-drop</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-cloud"></i><span>lnr-cloud</span></li>

                                                <li class="col-md-3"><i class="lnr lnr-database"></i><span>lnr-database</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-lock"></i><span>lnr-lock</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-cog"></i><span>lnr-cog</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-envelope"></i><span>lnr-envelope</span></li>

                                                <li class="col-md-3"><i class="lnr lnr-paperclip"></i><span>lnr-paperclip</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-inbox"></i><span>lnr-inbox</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-user"></i><span>lnr-user</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-map"></i><span>lnr-map</span></li>

                                                <li class="col-md-3"><i class="lnr lnr-screen"></i><span>lnr-screen</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-laptop"></i><span>lnr-laptop</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-bubble"></i><span>lnr-bubble</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-layers"></i><span>lnr-layers</span></li>

                                                <li class="col-md-3"><i class="lnr lnr-earth"></i><span>lnr-earth</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-pie-chart"></i><span>lnr-pie-chart</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-chart-bars"></i><span>lnr-chart-bars</span></li>
                                                <li class="col-md-3"><i class="lnr lnr-bookmark"></i><span>lnr-bookmark</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">保存</button>
                        <a href="@Url.Action("List","WebMenuManager")" class="btn btn-primary">返回列表页</a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section script{
    <script src="https://cdn.bootcss.com/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
    <script>

        LoadMenu();

        $(".chooseIco>li").click(function () {
            var rs = $(this).text();
            $("#Icon").val(rs);
        })


        $("#Level").change(function () {

            LoadMenu();
        });


        function LoadMenu() {
            var fv = $("#Level").val()
            if (fv == "0") {
                $("#ChooseIcon").show();
                $("#ParentMenu").hide();
                $("#SonMenu").hide();
            } else if (fv == "1") {

                $("#ChooseIcon").hide();
                $("#ParentMenu").show();
                $("#SonMenu").hide();

            } else if (fv == "2") {
                $("#ChooseIcon").hide();
                $("#ParentMenu").show();
                $("#SonMenu").show();

            }
        }

        $("#ParentMenu").change(function () {

            var pid = $(this).val();
            GetValues(pid);
        });

        function GetValues(pid)
        {
            $.post("../../WebMenuManager/ChangeMenuValue", { pid: pid }, function (data) {

                var str = "";
                for (var i = 0; i < data.length; i++)
                {
                   str += "<option value='"+data[i].Id+"'>"+data[i].Title+"</option>"
                }
                $("#SonMenu").empty();
                $("#SonMenu").append(str);

            }, "json");

        }


    </script>
}


