@using PagedList.Mvc
@model PagedList.IPagedList<BlogSystem.WebApp.Areas.Manager.Data.SystemMenu.SystemMenuListViewModel>
@{
    ViewBag.Title = "系统菜单管理列表";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
    string search = ViewBag.Search;
}

<h2>系统菜单管理列表</h2>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("List", "SystemMenuManager", FormMethod.Get, new { @class = "input-group" }))
        {
            @Html.TextBox("Search", search, new { @class = "form-control" })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="lnr lnr-magnifier"></i>
                    搜索
                </button>
            </span>
        }
    </div>
    <div class="col-md-3">
        @Html.ActionLink("新增系统菜单", "Add", "SystemMenuManager", new { @class = "btn btn-success" })
    </div>

</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-12">

        <div class="panel">
            <div class="panel-heading">
                <h3>系统菜单管理列表</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>菜单名称</th>
                            <th>菜单连接</th>
                            <th>菜单图标</th>
                            <th>父级菜单名称</th>
                            <th>修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].Title</td>
                                <td>@Model[i].Link</td>
                                <td>
                                    <i class="lnr @Model[i].Icon"></i>
                                </td>
                                <td>@Model[i].ParentTitle</td>
                                <td>@Model[i].UpdateTime.ToString("yyyy-MM-dd")</td>
                                <td>
                                    @Html.ActionLink("修改", "Edit", "SystemMenuManager", new { Model[i].Id }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("删除", "Delete", "SystemMenuManager", new { Model[i].Id }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
</div>
